<div class="main replies-new">
  <div class="container">
    <h1 class="form-heading">返事を書く</h1>
    <%=  form_with scope: :reply, url: post_replies_path, model: @reply, local: true do |form| %>

      <%= render 'layouts/error_messages', model: form.object %>

      <div class="form">
        <div class="form-body">
            <%= form.label :宛名 %><br>
            <%= form.text_field :dear , placeholder: "#{@post.from}へ"%>

            <%= form.label :本文 %><P class="js-text-count pull-right", id="counter"></P><br>
            <%= form.text_area :content, class: 'form-control  js-text', id: "input-text", placeholder: "あなたの大切な人にかけるような言葉で書きましょう！" %>

            <%= form.label :差出人 %><br>
            <%= form.text_field :from, placeholder: "#{current_user.username} より" %>

            <%= form.submit value="投函する" %>
        </div>
      </div>
    <% end %>
  </div>
</div>