<header>
  <nav>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #ff9933;">
      <a class="navbar-brand" href="/">コトノハ</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-navi">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "遊び方", play_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "手紙を書く", new_post_path, class: 'nav-link', data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item active">
              <%= link_to "手紙を読む", notifications_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "コトノハとは", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "遊び方", play_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </nav>
</header>