<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">手紙を書く</h1>
    <%=  form_with scope: :post, url: posts_path, local: true do |form| %>

      <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form">
        <div class="form-body">
          <%= form.label :Dear %><br>
          <%= form.text_field :dear %>
          
          <%= form.label :content %><br>
          <%= form.text_area :content %>

          <%= form.label :From %><br>
          <%= form.text_field :from %>

          <%= form.submit value="投函する" %>
        </div>
      </div>
    <% end %>
  </div>
</div>