<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">手紙を書く</h1>
    <%=  form_with scope: :post, url: posts_path, model: @post, local: true do |form| %>

      <%= render 'layouts/error_messages', model: form.object %>

      <div class="form">
        <div class="form-body">
          <%= form.label :宛名 %><br>
          <%= form.text_field :dear , placeholder: "どこかの誰かへ"%>

          <%= form.label :本文 %><P class="js-text-count pull-right", id="counter"></P><br>
          <%= form.text_area :content , class: 'form-control  js-text', id: "input-text" %>

          <%= form.label :差出人 %><br>
          <%= form.text_field :from, placeholder: "試される大地の若者より"%>

          <%= form.submit value="投函する" %>

        </div>
      </div>
    <% end %>
  </div>
</div>