<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <span><%= @post.dear %></span>
        <span><%= @post.content %></span>
        <span><%=  @post.from %><br>
        <%= @post.created_at.to_formatted_s(:datetime_jp) %></span>
        <% if @post.reply == nil %>
          <span><%= link_to "返事を書く", new_post_reply_path(@post.id), class: "link", data: {"turbolinks" => false} %></span>
        <% end  %>
      </p>
    </div>
  </div>
</div>