<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>
    <header>
    <div class="header-logo">
      <% if @current_user %>
        <%= link_to("Letters", "/") %>
      <% else %>
        <%= link_to("Letters", "/") %>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user %> <%# ログインしている時 %>
        <li> <%= link_to(@current_user.name, "/users/#{@current_user.id}") %> </li>
        <li> <%= link_to("手紙を見返す", "#") %>
        </li>
        <li><%= link_to("手紙を書く", "/posts/new") %> </li>
        <li> <%= link_to("ログアウト", "#", {method: :post}) %> </li>
      <% else %> <%#ログインしてないとき %>
        <li>
          <%= link_to("Lettersとは", "/about") %>
        </li>
        <li> <%= link_to("新規登録", "#") %>
        </li>
        <li> <%= link_to("ログイン", "#") %> </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
      <% end %>
    </ul>
  </header>

    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
