<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>
    <header>
    <div class="header-logo">
      <% if @current_user %>
        <%= link_to("Letters", "/") %>
      <% else %>
        <%= link_to("Letters", "/") %>
      <% end %>
    </div>

    <nav>
      <ul class="header-menus">
          <% if user_signed_in? %>
            <li><strong><%= link_to current_user.username, pages_show_path %></strong></li>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to("Lettersとは", "/about") %></li>
            <li><%= link_to("読み返す", "/posts") %></li>
            <li><%= link_to("手紙を書く", "/posts/new") %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
      </ul>
    </nav>
    </header>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
