<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application': "reload"%>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>
    <header>
      <nav>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #ff9933;">
        <a class="navbar-brand" href="/">Letters</a>  
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navi">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/about">Letter とは</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
