<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class ="application">
    <%= render 'shared/header' %>
    <%= render 'shared/flashes'%>
    <main role = "container">
      <%= yield %>
    </main>
  </body>
</html>

